/* Variables */

:root {
    --basic-black: #000000;
    --basic-akcent: #EE3643;
    --basic-extra-dark: #293449;
    --basic-dark: #32425C;
    --basic-gold: #FFD180;
    --basic-white: #ffffff;
    --basic-grey: #A9A9A9;
    --bg-header: #F1F5F7;
}

/* Fonts */


@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-akcent);
    line-height: 18px;
    height: 38px;
    display: inline-block;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.main-header {
    background-color: var(--bg-header);
    padding-bottom: 60px;
}

.top-nav {
    background-color: var(--basic-extra-dark);
    color: var(--basic-white);
    height: 42px;
    font-size: 18px;
}

.top-nav-wrapper {
    display: flex;
}

.top-nav a {
    color: var(--basic-white);
}

.logo {
    background-color: var(--basic-akcent);
    width: 220px;
    height: 35px;
    display: block;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    text-align: center;
    padding-top: 12px;
}

.header-wrap {
    height: 153px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.header-slogan {
    color: var(--basic-akcent);
    font-family: Cuprum;
    font-style: italic;
    font-size: 16px;
}

.header-phone {
    color: var(--basic-akcent);
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}

.header-adress {
    color: var(--basic-dark);
    font-size: 14px;
}

.header-contact {
    text-align: center;
}

.header-login {
    text-align: end;
}

.header-login a {
    font-size: 21px;
    color: var(--basic-black);
    line-height: 21px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    background-color: var(--basic-dark);
    list-style-type: none;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.site-navigation a {
    color: var(--basic-white);
}

.promo {
    margin-bottom: 59px;
}

.promo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.promo-card {
    background-color: #32425C;
    min-height: 123px;

}

.promo-card-big {
    grid-column: 1/3;
    grid-row: 2/-1;
    background-color: yellow;
}

.promo-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.promo-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
}

.main-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-dark);
    text-transform: uppercase;
}

.title-wrap {
    display: flex;
    height: 89px;
}

.featured-product {
    margin-bottom: 59px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    width: 220px;
}

.product-card:not(:nth-child(4n)) {
    margin-right: 20px;
}

.product-title {
    font-size: 18px;
}

.manufacturer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.manufacturer-item {
    width: 220px;
    height: 145px;
}

.manufacturer-item:not(:nth-child(4n)) {
    margin-right: 20px;
}

.services {
    padding: 64px 0 99px;
    margin-bottom: 120px;
    background-color: var(--bg-header);
}

.services-slogan {
    font-family: "PT Sans";
    margin-bottom: 70px;
}

.services-text {
    font-family: "PT Sans";
}

.index-column {
    display: flex;
    margin-bottom: 70px;
}

.services-list {
    width: 30%;
    margin-right: 80px;
}

.services-item {
    font-size: 21px;
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
}

.services-item-current {
    color: var(--basic-dark);
    background-color: var(--basic-white);
}

.about-text {
    font-family: "PT Sans";
}


.about-item {
    font-size: 18px;
    font-weight: 400;
}

.page-footer {
    color: var(--basic-white);
}

.top-footer {
    background-color: var(--basic-dark);
}

.top-footer-wrap {
    display: flex;
    justify-content: space-between;
}

.bottom-footer {
    background-color: var(--basic-extra-dark);
}

.bottom-footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-menu-item a {
    color: var(--basic-white);
    font-size: 18px;
}

/* Style for catalog.html */

.header-catalog-wrap {
    display: flex;
    flex-direction: column;
}

.breadcrumbs-list {
    order: -1;
    display: flex;
}

.catalog-wrap {
    display: flex;
}

.filter-catalog {
    width: 220px;
    margin-right: 20px;
}

.filter-title {
    width: 220px;
}

.catalog-sort {
    display: flex;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    width: 220px;
    height: 318px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}